@using MvcStok.Models.Entity;
@model List<TBLMUSTERILER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>MÜŞTERİ ID</th>
        <th>MÜŞTERİ AD</th>
        <th>MÜŞTERİ SOYAD</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
    </tr>
    <tbody>
        @foreach(var musteri in Model)
            {
                <tr>
                    <th>@musteri.MUSTERIID</th>
                    <td>@musteri.MUSTERIAD</td>
                    <td>@musteri.MUSTERISOYAD</td>
                    <td><a href="/Kategori/Sil/@musteri.MUSTERIID" class="btn btn-danger">SİL</a></td>
                    <td><a href="/Kategori/Guncelle/@musteri.MUSTERIID" class="btn btn-success">GÜNCELLE</a></td>
                </tr>
            }
    </tbody>
</table>
<a href="/Musteriler/YeniMusteri/" class="btn btn-primary">Yeni Müşteri Ekle</a>

