
@{
    ViewBag.Title = "YeniMusteri";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>MÜŞTERİ ADI:</label>
        <input type="text" class="form-control" name="MUSTERIAD" required="" />
    </div>
    <div style="margin-top:15px">
        <label>MÜŞTERİ SOYADI:</label>
        <input type="text" class="form-control" name="MUSTERISOYAD" required="" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-dark">MÜŞTERİ EKLE</button>
    </div>
</form>
