@using MvcStok.Models.Entity;
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<TBLKATEGORILER>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@*Foreach Kullanımı
        foreach (veri_türü degisken_ismi in dizi_ismi)
    {

     //degisken_ismi ekrana yazdırılır veya farklı bir işlem yapılır

    }*@

<table class="table table-bordered">
    <tr>
        <th>KATEGORI ID</th>
        <th>KATEGORI AD</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>

    </tr>
    <tbody>
        @foreach (var ktgr in Model)
        {
            <tr>
                @*<th>Kalın punto ile yazar</th>*@
                <th>@ktgr.KATEGORIID</th>
                <td>@ktgr.KATEGORIAD</td>
                <td><a href="/Kategori/Sil/@ktgr.KATEGORIID" class="btn btn-danger">SİL</a></td>
                <td><a href="/Kategori/KategoriGetir/@ktgr.KATEGORIID" class="btn btn-success">GÜNCELLE</a></td>
            </tr>

        }
    </tbody>
</table>
<a href="/Kategori/YeniKategori/" class="btn btn-primary">Yeni Kategori Ekle</a>
@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }))

@*<button class="btn btn-primary" onclick="/Kategori/YeniKategori/">Yeni Kategori Ekle</button>*@

