@model MvcStok.Models.Entity.TBLURUNLER
@{
    ViewBag.Title = "YeniUrun";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>ÜRÜN ADI</label>
        <input type="text" class="form-control" name="URUNAD" required="" maxlength="15" placeholder="Ürün Adı Giriniz"/>
    </div>
    <div style="margin-top:15px">
        <label>MARKA</label>
        <input type="text" class="form-control" name="MARKA" required="" maxlength="10" placeholder="Marka Giriniz."/>
    </div>

    <div style="margin-top:15px">
        <label>KATEGORİ SEÇİNİZ</label>
        @Html.DropDownListFor(m => m.TBLKATEGORILER.KATEGORIID, (List<SelectListItem>)ViewBag.dgr, new { @class = "form-control" })
    </div>

    <div style="margin-top:15px">
        <label>FİYAT</label>
        <input type="text" class="form-control" name="FIYAT" required="" maxlength="4" placeholder="Fiyat Giriniz." />
    </div>
    <div style="margin-top:15px">
        <label>STOK</label>
        <input type="text" class="form-control" name="STOK" required="" max="8" placeholder="Stok Giriniz." />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-dark">ÜRÜN EKLE</button>
    </div>
</form>


